header {
max-height: 400px;
max-width: 800px;
height: 90px;
line-height: 1.5em;
text-align: center;
outline: auto;
background-color: white;
margin-left:auto;
margin-right:auto;
}
nav {
    max-width:800px;
    min-width:400px
    height: 20px;
    outline: auto;
    line-height: 1.5em;
    background-color: white;
    align-itens: center;
    margin-left: auto;
   margin-right: auto;
}
main {
    min-width:300px;
    max-width:800px;
    height: 400px;
    outline: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 3px;
    background-color: white;
    align-items: center;
}
article {
    height:350px ;
    outline: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    text-align: center;
}
aside {
    outline: auto;
    vertical-align: auto;
    margin-top: 70px;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}
footer {
    outline: auto;
    margin-top: 8px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: gray;
}
